<div class="screen">

  <div class="header">
    <h1>LABAXURIAS</h1>
    <h2>✨ AGORA EM ATENDIMENTO ✨</h2>
  </div>

  @if (!currentClient) {

    <div class="waiting">
      <h3>Aguardando próxima chamada...</h3>
    </div>

  }

  @if (currentClient) {

    <div class="call-card">

      <div class="client">
        {{ currentClient }}
      </div>

      <div class="guide">
        {{ currentGuide }}
      </div>

      <div class="time">
        {{ calledAt }}
      </div>

    </div>

  }

</div>