<div class="attendance-panel">
  <div class="panel-header">
    <h2>AGORA EM ATENDIMENTO</h2>
  </div>
  <div class="panel-content" *ngIf="currentAttendance; else noAttendance">
    <div class="consultant-name">{{ currentAttendance.name }}</div>
    <div class="entity-info">
      <span class="label">Dirija-se à entidade</span>
      <span class="entity-name">{{ currentAttendance.entityName }}</span>
    </div>
  </div>
  <ng-template #noAttendance>
    <div class="no-attendance">
      <div class="waiting-message">Aguardando chamada...</div>
    </div>
  </ng-template>
</div>
