<h1>Painel de Atendimento</h1>

<button (click)="callNext()">
    Chamar Próximo
</button>

<hr>

<label for="guide">
    Guia Espiritual
</label>

<select
    id="guide"
    [(ngModel)]="selectedGuideId">

    <option [ngValue]="null">
        Selecione...
    </option>

    <option
        *ngFor="let guide of guides"
        [ngValue]="guide.id">

        {{ guide.name }}

    </option>

</select>

<hr>

<h3>Fila</h3>

<ul>
  <li *ngFor="let item of queue">
    {{ item.order }} - {{ item.clientName }}
  </li>
</ul> 