<div class="queue-panel">
  <div class="panel-header">
    <h2>PRÓXIMOS</h2>
  </div>
  <div class="queue-list" *ngIf="queueItems.length > 0; else emptyQueue">
    <div class="queue-item" *ngFor="let item of queueItems; let i = index">
      <div class="item-number">{{ i + 1 }}</div>
      <div class="item-info">
        <div class="item-name">{{ item.name }}</div>
        <div class="item-entity">{{ item.entityName }}</div>
      </div>
    </div>
  </div>
  <ng-template #emptyQueue>
    <div class="empty-queue">
      <div class="empty-message">Fila vazia</div>
    </div>
  </ng-template>
</div>
